#lp-pom-button-17 {
    border-style: none;
    border-radius: 5px;
    width: 100%;
    height: 46px;
    background: rgba(24, 119, 242, 1);
    box-shadow: none;
    text-shadow: none;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: Arial, sans-serif;
    font-style: normal;
    text-align: center;
    background-repeat: no-repeat;
}

#lp-pom-button-66 {
    border-style: none;
    border-radius: 5px;
    width: 100%;
    height: 46px;
    background: rgba(66, 183, 42, 1);
    box-shadow: none;
    text-shadow: none;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: Arial, sans-serif;
    font-style: normal;
    text-align: center;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 600px) {
    #lp-pom-block-11 {
        display: block;
        background: rgba(255, 255, 255, 1);
        border-style: none;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0px;
        border-radius: 0px;
        width: 100%;
        height: 645px;
        position: relative;
    }
}

#lp-pom-block-11 {
    display: block;
    background: rgba(255, 255, 255, 1);
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 0px;
    width: 100%;
    height: 679px;
    position: relative;
}